// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Utility 
@import './utilities.scss';

// objects
@import './objects/buttons.scss';

// Layout
@import './layout/header.scss';
@import './layout/content.scss';
@import './layout/footer.scss';
@import './layout/menu.scss';

// Style components
@import './components/card.scss';
@import './components/dropdown.scss';

body {
  font: 100% $font-family;
}

