.card {
  flex: 1 1 auto;
  margin: 4rem;
  width: 50rem;
  min-height: 20rem;
  border: 1px solid $light-grey;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);

  @media #{$mobile} {
    width: 90%;
    margin: 1rem;
  }

  &__content {
    min-height: 14rem;
    background-image: url('../../assets/images/papyrus.png');
  }

  &__stripe {
    width: 100%;
    height: .5rem;
    background-color: $deep-red;
  }

  &__bottom {
    border-top: 1px solid $light-grey;
    background-color: $light-grey;
    min-height: 6.5rem;
  }

}
