
.header {
  position: fixed;
  width: 100%;
  top: 0;
  border-bottom: 2px solid $light-grey;
  box-shadow: 2px 2px 10px $light-grey;
  background-color: rgba(255, 255, 255, 0.9);
  z-index:1;
  min-height: 5rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  &__icon {
    padding: 0.5rem;
    color: $deep-red;
  }

  &__text {
    font-size: 2.5rem;
    margin-left: 0.5rem;
  }
}