.top-menu {
  width: 100%;
  border: 1px solid $light-grey;
  box-shadow: 2px 2px 10px $light-grey;
  min-height: 5rem;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;


}